.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#header, #page-description, #top-header {
  text-align: center;
}

#page-description {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

#gameView {
  align-items: center;
  justify-content: center;
  background-color: #000033;
  color: white;
  font-family: sans-serif;
  font-size: 13pt;
  font-weight: normal;
}

#game-description-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

#game-description-form label {
  text-align: right;
}

#game-description-form label[for="description"] {
  align-self: start;
}

#game-description-form input,
#game-description-form textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#reset-form-button {
  grid-column: 1 / span 2;
  justify-self: center;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
}

#top-header {
  margin-top: 40px;
  margin-bottom: 10px;
}

.centered-textarea {
  width: 80%;
  max-width: 580px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#llm-prompt {
  height: 100px;
}

#game-code {
  height: 300px;
}

.toast {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.toast.show {
  opacity: 1;
}

#llm-links {
  text-align: center;
}

#llm-links p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#llm-links ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

#llm-links li {
  margin-bottom: 5px;
}

.centered-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#copy-prompt-button {
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}