html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000033;
  color: white;
  font-family: sans-serif;
  font-size: 13pt;
  font-weight: normal;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color : #EEE;
  margin: 0;
}

h2 a,
h3 a {
  color : #EEE;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #a2c2f2;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#body {
  max-width: 850px;
  margin: 2em 10px 2em;
}

#body hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

#gameView {
  position: relative;
}

#footer-container {
  margin-top: 0.1em;
  display: flex;
  justify-content: space-between;
}

#about {
  color: #738791;
  text-align: left;
  font-size: 10pt;
}

#byline {
  color: #738791;
  text-align: right;
  font-size: 10pt;
}


/* Constrain height on small devices in landscape */
@media all and (orientation:landscape) and (max-height: 450px) {
  #body {
    margin: 1.8em 10px 1.8em;
  }
  
  #levelTitle {
    font-size: 17px;
  }
  
  #muncherGrid td {
    height: 11vh;
  }
  
  #scoreText {
    line-height: 0.8em;
    padding-bottom: 0.9em;
  }
  
  #livesRemaining img {
    height: 1.5em;
  }
}

/* Handle skinny screens */
@media (max-width: 610px) {
  #levelTitle {
    font-size: 15px;
  }

  #gameOverlay p {
    font-size: 0.9em;
  }

  #gameOverlay {
    width: calc(100% - 2px - 4px); /* Full table width minus cell border width * 2 minus table border width * 2 */
  }
   
  #about {
    font-size: 8pt;
  }

  #byline {
    font-size: 8pt;
  }
}
